# Node modules
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Cache
.cache/